body {
    margin: 0px;
  padding:0px;
  background-color: black;
  }

html{
  scroll-behavior: smooth;
}

  .topnav {
      overflow: hidden;
      background-color: black;
      margin: 0px;
    }
    
    .topnav a {
      float: right;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 30px;
      text-decoration: none;
      font-size: 25px;
      font-family: 'Ubuntu', cursive;
    }
    
    .topnav a:hover {
     
      color: white;
    }

   .left {
      color: #f2f2f2;
      font-size: 31px;
      margin-top: 10px;
      position: relative;
    }

 a.left:hover:before {
      visibility: visible;
      width: 75%;
      align-items: center;
    }
    
    .topnav .icon {
      display: none;
    }
    
  
    @media screen and (max-width: 1000px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }

    @media screen and (max-width: 1000px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.arrow span{
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(45deg);
    margin-top: 330px;
    animation: move 1s infinite;
    
}
.picture{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
 
.what{
    font-family: 'Ubuntu' , cursive;
    color: #098cd9;
    margin-top: 120px;
    margin-left: 30px;
}
.fields{
    margin-top: 90px;
    justify-content: center;
    display: flex;
    width: 100%
}
.fields img{
    padding-left: 40px;
    padding-right: 40px;
}
.field{
    justify-content: center;
    display: flex;
    margin-top: 70px;
 width: 100%;
}
.field img{
        padding-right: 40px;
    padding-left: 40px;

}
.ncr{
    color: white;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 24;
    font-family: 'Ubuntu' , cursive;
    padding-right: 120px;
}
    a.left:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 3px;
     
      bottom: -4px;
      left: 14.2px;
      background-color: #098cd9;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      margin-bottom: 15px;
    }

.spice{
    color: #098cd9;
    font-size: 44;
    font-family: 'Ubuntu', cursive;
    margin-top: 400px;
}
    
   
.hemlo{
    color: white;
    font-family:  'Aboreto', cursive;
    margin-top: -450px;
    font-size: 44;
    
}
  
@keyframes move 
{
  0% {
      opacity: 0;
  }

      50% {
      opacity: 1;
       
  }    100% {
      opacity: 0;
  }
  
}
